@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 240, 240);
}

h1 {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 800;
    margin-top: 20%;
}

.create-schedule {
    font-family: "Raleway", sans-serif;
    cursor: pointer;
    height: 35px;
    width: 200px;
    background-color: rgb(65, 201, 229);
    border: 1px solid rgb(65, 201, 229);
    border-radius: 5px / 5px;
    font-size: 14px;
}