@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 240, 240);
}

h1 {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 800;
    margin-top: 20%;
}